body,
* {
    font-family: 'Lato', sans-serif;
}

.home-img {
    object-fit: cover;
}

.blog,
.section-ui-ux,
.footer,
.about {
    background-color: #F4F5F8;
}

.hr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    overflow: hidden;
}

.card-img {
    transition: all .5s;
}

.card:hover .card-img {
    transform: scale(1.2);
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}